In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import linregress

In [8]:
file = "HotelData/master_hotel_data.csv"
fattab = "HotelData/hotel_prices_FAT_table_clean.csv"
distance_file = "HotelData/distance_from_NYC.csv"
rating_file = "HotelData/raw_hotel_rating.csv"
entertainment_apicall = "HotelData/entertainment2.csv"
hotel_apicall = "HotelData/hotels.csv"
transportation_apicall = "HotelData/transportation2.csv"

all_data = pd.read_csv(file)
FAT_TAB = pd.read_csv(fattab)
distance = pd.read_csv(distance_file)
messy_rating = pd.read_csv(rating_file)

entertainment_data = pd.read_csv(entertainment_apicall)
transportation_data = pd.read_csv(transportation_apicall)
hotel_api = pd.read_csv(hotel_apicall)

FileNotFoundError: [Errno 2] No such file or directory: 'HotelData/transportation2.csv'

In [4]:
all_data

,Hotel Name,Address,Street Name,City,State,Zipcode,State Code,Longitude,Latitude,Subway Name,...,Total Price ($),Hotel Rating,Rating (out of 10),Number of Reviews,entertainment,housenumber,street,address2,Advertised Price,Average Price
0,"The Beekman, A Thompson Hotel","123 Nassau Street, New York, NY 10038, United ...",Nassau Street,New York,New York,10038,NY,-74.006936,40.711033,Fulton Street,...,$502,9.2 out of 10 Wonderful (856 reviews),9.2,856.0,South Street Seaport Museum,12,Fulton Street,"12 Fulton Street, New York, NY 10038, United S...",486.5,601.98
1,"The Beekman, A Thompson Hotel","123 Nassau Street, New York, NY 10038, United ...",Nassau Street,New York,New York,10038,NY,-74.006936,40.711033,Fulton Street,...,$502,9.2 out of 10 Wonderful (856 reviews),9.2,856.0,Imagination Playground,NaN,John Street,"John Street, New York, NY 10038, United States...",486.5,601.98
2,"The Beekman, A Thompson Hotel","123 Nassau Street, New York, NY 10038, United ...",Nassau Street,New York,New York,10038,NY,-74.006936,40.711033,Fulton Street,...,$502,9.2 out of 10 Wonderful (856 reviews),9.2,856.0,iPic Theaters,11,Fulton Street,"11 Fulton Street, New York, NY 10038, United S...",486.5,601.98
3,"The Beekman, A Thompson Hotel","123 Nassau Street, New York, NY 10038, United ...",Nassau Street,New York,New York,10038,NY,-74.006936,40.711033,Fulton Street,...,$502,9.2 out of 10 Wonderful (856 reviews),9.2,856.0,South Street Seaport Museum,12,Fulton Street,"12 Fulton Street, New York, NY 10038, United S...",486.5,601.98
4,"The Beekman, A Thompson Hotel","123 Nassau Street, New York, NY 10038, United ...",Nassau Street,New York,New York,10038,NY,-74.006936,40.711033,Fulton Street,...,$502,9.2 out of 10 Wonderful (856 reviews),9.2,856.0,Imagination Playground,NaN,John Street,"John Street, New York, NY 10038, United States...",486.5,601.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193790,Hilton Garden Inn,"29-21 41st Avenue, New York, NY 11101, United ...",41st Avenue,New York,New York,11101,NY,-73.936904,40.750229,Douglaston,...,NaN,NaN,NaN,NaN,Plaxall Gallary,5-25,46th Avenue,"5-25 46th Avenue, New York, NY 11101, United S...",NaN,NaN
193791,Hilton Garden Inn,"29-21 41st Avenue, New York, NY 11101, United ...",41st Avenue,New York,New York,11101,NY,-73.936904,40.750229,Douglaston,...,NaN,NaN,NaN,NaN,The Gutter,10-22,46th Avenue,"10-22 46th Avenue, New York, NY 11101, United ...",NaN,NaN
193792,Hilton Garden Inn,"29-21 41st Avenue, New York, NY 11101, United ...",41st Avenue,New York,New York,11101,NY,-73.936904,40.750229,Douglaston,...,NaN,NaN,NaN,NaN,Grand Central Atelier,46-06,11th Street,"46-06 11th Street, New York, NY 11101, United ...",NaN,NaN
193793,Hilton Garden Inn,"29-21 41st Avenue, New York, NY 11101, United ...",41st Avenue,New York,New York,11101,NY,-73.936904,40.750229,Douglaston,...,NaN,NaN,NaN,NaN,MoMA PS1,NaN,46th Avenue,"46th Avenue, New York, NY 11101, United States...",NaN,NaN
193794,Hilton Garden Inn,"29-21 41st Avenue, New York, NY 11101, United ...",41st Avenue,New York,New York,11101,NY,-73.936904,40.750229,Douglaston,...,NaN,NaN,NaN,NaN,Dorsky Gallery,11-03,45th Avenue,"11-03 45th Avenue, New York, NY 11101, United ...",NaN,NaN

In [6]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193795 entries, 0 to 193794
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Hotel Name            193795 non-null  object
 1   Address               193795 non-null  object
 2   Street Name           193795 non-null  object
 3   City                  193795 non-null  object
 4   State                 193795 non-null  object
 5   Zipcode               193795 non-null  int64
 6   State Code            193795 non-null  object
 7   Longitude             193795 non-null  float64
 8   Latitude              193795 non-null  float64
 9   Subway Name           117858 non-null  object
 10  Operator              117182 non-null  object
 11  Network               115441 non-null  object
 12  Wheelchair            117720 non-null  object
 13  Station               117034 non-null  object
 14  Check-In Date         183449 non-null  object
 15  Check-Out Date        183449 non-null  object
 16  Total Price           183449 non-null  object
 17  Advertised Price ($)  155203 non-null  object
 18  Total Price ($)       155203 non-null  object
 19  Hotel Rating          168109 non-null  object
 20  Rating (out of 10)    168109 non-null  float64
 21  Number of Reviews     168109 non-null  float64
 22  entertainment         193083 non-null  object
 23  housenumber           156253 non-null  object
 24  street                193492 non-null  object
 25  address2              193492 non-null  object
 26  Advertised Price      175020 non-null  float64
 27  Average Price         175020 non-null  float64
dtypes: float64(6), int64(1), object(21)
memory usage: 41.4+ MB