In [24]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [25]:
browser = Browser('chrome')

In [26]:
url = "https://www.expedia.com/Hotel-Search?adults=2&d1=2023-06-05&d2=2023-06-06&destination=New%20York%20%28and%20vicinity%29%2C%20New%20York%2C%20United%20States%20of%20America&endDate=2023-06-06&latLong=40.75668%2C-73.98647&regionId=178293&rooms=1&semdtl=&sort=RECOMMENDED&startDate=2023-06-05&theme=&useRewards=false&userIntent="

In [27]:

browser.visit(url)
time.sleep(5)
for i in range(1,5): 
    browser.find_by_css('button[data-stid=show-more-results]').click()
    time.sleep(5)

soup=BeautifulSoup(browser.html, 'html.parser')


#browser.visit(url)
html = browser.html
#html
#h = soup.find_all('h4', class_="uitk-heading uitk-heading-5 overflow-wrap uitk-layout-grid-item uitk-layout-grid-item-has-row-start")
#len(h)

hotels = [result.text for result in soup.find_all('h4', class_="uitk-heading uitk-heading-5 overflow-wrap uitk-layout-grid-item uitk-layout-grid-item-has-row-start")]
reviews = [reviewDiv.find('span', class_="is-visually-hidden") for reviewDiv in soup.find_all('div', class_="uitk-layout-flex uitk-layout-flex-align-items-flex-start")]

In [28]:
hotel_df = pd.DataFrame({"hotel":hotels, "review":reviews})
hotel_df

,hotel,review
0,"Martinique New York on Broadway, Curio Collect...","[8.6 out of 10 Excellent (1,007 reviews)]"
1,Sonder The Dutch,[8.2 out of 10 Very Good (14 reviews)]
2,Margaritaville Resort Times Square,"[9.0 out of 10 Wonderful (1,938 reviews)]"
3,"PUBLIC, an Ian Schrager hotel","[8.0 out of 10 Very Good (1,590 reviews)]"
4,YOTEL New York Times Square,"[7.0 out of 10 Good (1,852 reviews)]"
...,...,...
95,LUMA Hotel Times Square,"[9.4 out of 10 Exceptional (1,003 reviews)]"
96,Hotel Richland LES,[8.6 out of 10 Excellent (103 reviews)]
97,Pestana Park Avenue,[8.8 out of 10 Excellent (337 reviews)]
98,The Kitano Hotel New York,"[9.0 out of 10 Wonderful (1,002 reviews)]"
99,The Gallivant Times Square,"[6.4 out of 10 (2,091 reviews)]"

In [29]:
browser.quit()