In [1]:
import pandas as pd
import re

In [2]:
distance_file = "HotelData/distance_from_NYC.csv"
rating_file = "HotelData/raw_hotel_rating.csv"

distance = pd.read_csv(distance_file)
messy_rating = pd.read_csv(rating_file)

In [3]:
messy_rating

,Hotel Name,Hotel Rating
0,31 Street Broadway Hotel,5.2 out of 10 (603 reviews)
1,Americana Motel,4.6 out of 10 (115 reviews)
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0 out of 10 Exceptional (3 reviews)
3,Days Inn by Wyndham Wayne,"6.4 out of 10 (1,002 reviews)"
4,Quality Inn Wayne - Fairfield Area,5.0 out of 10 (468 reviews)
...,...,...
759,The Local,8.6 out of 10 Excellent (647 reviews)
760,Turkey Hill Inn,9.0 out of 10 Wonderful (276 reviews)
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,"7.0 out of 10 Good (1,005 reviews)"
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0 out of 10 Exceptional (11 reviews)
763,Modern & cozy 1-bed attic apt close to NYC,10.0 out of 10 Exceptional (2 reviews)

In [4]:
rating = messy_rating.copy()
rating

,Hotel Name,Hotel Rating
0,31 Street Broadway Hotel,5.2 out of 10 (603 reviews)
1,Americana Motel,4.6 out of 10 (115 reviews)
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0 out of 10 Exceptional (3 reviews)
3,Days Inn by Wyndham Wayne,"6.4 out of 10 (1,002 reviews)"
4,Quality Inn Wayne - Fairfield Area,5.0 out of 10 (468 reviews)
...,...,...
759,The Local,8.6 out of 10 Excellent (647 reviews)
760,Turkey Hill Inn,9.0 out of 10 Wonderful (276 reviews)
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,"7.0 out of 10 Good (1,005 reviews)"
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0 out of 10 Exceptional (11 reviews)
763,Modern & cozy 1-bed attic apt close to NYC,10.0 out of 10 Exceptional (2 reviews)

In [5]:
p = "(\d{1,}\D\d)"

hotel_rating = rating['Hotel Rating'].str.extract(p)
rating['Hotel Rating'] = hotel_rating

rating

                                            Hotel Name Hotel Rating
0                             31 Street Broadway Hotel          5.2
1                                      Americana Motel          4.6
2      Luxury Private Room in Westfield, 1 hour to NYC         10.0
3                            Days Inn by Wyndham Wayne          6.4
4                   Quality Inn Wayne - Fairfield Area          5.0
..                                                 ...          ...
759                                          The Local          8.6
760                                    Turkey Hill Inn          9.0
761  La Quinta Inn & Suites by Wyndham Secaucus Mea...          7.0
762  Relax and rejuvenate in this Hideaway Apartmen...         10.0
763         Modern & cozy 1-bed attic apt close to NYC         10.0

[764 rows x 2 columns]

In [6]:
messy_rating

,Hotel Name,Hotel Rating
0,31 Street Broadway Hotel,5.2 out of 10 (603 reviews)
1,Americana Motel,4.6 out of 10 (115 reviews)
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0 out of 10 Exceptional (3 reviews)
3,Days Inn by Wyndham Wayne,"6.4 out of 10 (1,002 reviews)"
4,Quality Inn Wayne - Fairfield Area,5.0 out of 10 (468 reviews)
...,...,...
759,The Local,8.6 out of 10 Excellent (647 reviews)
760,Turkey Hill Inn,9.0 out of 10 Wonderful (276 reviews)
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,"7.0 out of 10 Good (1,005 reviews)"
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0 out of 10 Exceptional (11 reviews)
763,Modern & cozy 1-bed attic apt close to NYC,10.0 out of 10 Exceptional (2 reviews)

In [7]:
messy_rating['Hotel Rating'] = messy_rating['Hotel Rating'].replace(',','', regex=True)
messy_rating

,Hotel Name,Hotel Rating
0,31 Street Broadway Hotel,5.2 out of 10 (603 reviews)
1,Americana Motel,4.6 out of 10 (115 reviews)
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0 out of 10 Exceptional (3 reviews)
3,Days Inn by Wyndham Wayne,6.4 out of 10 (1002 reviews)
4,Quality Inn Wayne - Fairfield Area,5.0 out of 10 (468 reviews)
...,...,...
759,The Local,8.6 out of 10 Excellent (647 reviews)
760,Turkey Hill Inn,9.0 out of 10 Wonderful (276 reviews)
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,7.0 out of 10 Good (1005 reviews)
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0 out of 10 Exceptional (11 reviews)
763,Modern & cozy 1-bed attic apt close to NYC,10.0 out of 10 Exceptional (2 reviews)

In [8]:
p = "(\(\d{1,}\s\w{1,}\))"

num_reviews = messy_rating['Hotel Rating'].str.extract(p)
rating['Number of Reviews'] = num_reviews

rating

,Hotel Name,Hotel Rating,Number of Reviews
0,31 Street Broadway Hotel,5.2,(603 reviews)
1,Americana Motel,4.6,(115 reviews)
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0,(3 reviews)
3,Days Inn by Wyndham Wayne,6.4,(1002 reviews)
4,Quality Inn Wayne - Fairfield Area,5.0,(468 reviews)
...,...,...,...
759,The Local,8.6,(647 reviews)
760,Turkey Hill Inn,9.0,(276 reviews)
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,7.0,(1005 reviews)
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0,(11 reviews)
763,Modern & cozy 1-bed attic apt close to NYC,10.0,(2 reviews)

In [9]:
p = '(\d{1,})'
final = rating['Number of Reviews'].str.extract(p)
rating['Number of Reviews'] = final

rating

,Hotel Name,Hotel Rating,Number of Reviews
0,31 Street Broadway Hotel,5.2,603
1,Americana Motel,4.6,115
2,"Luxury Private Room in Westfield, 1 hour to NYC",10.0,3
3,Days Inn by Wyndham Wayne,6.4,1002
4,Quality Inn Wayne - Fairfield Area,5.0,468
...,...,...,...
759,The Local,8.6,647
760,Turkey Hill Inn,9.0,276
761,La Quinta Inn & Suites by Wyndham Secaucus Mea...,7.0,1005
762,Relax and rejuvenate in this Hideaway Apartmen...,10.0,11
763,Modern & cozy 1-bed attic apt close to NYC,10.0,2

In [11]:
# rating.to_csv("HotelData/ratings_clean.csv", index=False, header=True)

In [12]:
distance

                                            Hotel Name       Distance from NYC
0                             31 Street Broadway Hotel                New York
1                                      Americana Motel  17.44 mi from New York
2                            Days Inn by Wyndham Wayne  21.44 mi from New York
3                   Quality Inn Wayne - Fairfield Area  17.75 mi from New York
4            Americas Best Value Inn Avenel Woodbridge  17.36 mi from New York
..                                                 ...                     ...
795                                   HI New York City                New York
796  FEMALES ONLY <br>Quite safe neighborhood near ...   15.2 mi from New York
797     Extended Stay America Suites Newark Woodbridge  19.55 mi from New York
798                                     Quiet getaway.  13.05 mi from New York
799                        Cozy Shack-1 Bedroom Studio   6.47 mi from New York

[800 rows x 2 columns]

In [13]:
distance2 = distance.copy()

In [17]:
distance3 = distance2.copy()

In [19]:
p = "(\d{1,}\W\d{1,})"

dis_num = distance2["Distance from NYC"].str.extract(p)
distance2["Distance from NYC"] = dis_num
distance2

                                            Hotel Name Distance from NYC
0                             31 Street Broadway Hotel               NaN
1                                      Americana Motel             17.44
2                            Days Inn by Wyndham Wayne             21.44
3                   Quality Inn Wayne - Fairfield Area             17.75
4            Americas Best Value Inn Avenel Woodbridge             17.36
..                                                 ...               ...
795                                   HI New York City               NaN
796  FEMALES ONLY <br>Quite safe neighborhood near ...              15.2
797     Extended Stay America Suites Newark Woodbridge             19.55
798                                     Quiet getaway.             13.05
799                        Cozy Shack-1 Bedroom Studio              6.47

[800 rows x 2 columns]

In [20]:
distance2 = distance2.fillna(0)
distance2

                                            Hotel Name Distance from NYC
0                             31 Street Broadway Hotel                 0
1                                      Americana Motel             17.44
2                            Days Inn by Wyndham Wayne             21.44
3                   Quality Inn Wayne - Fairfield Area             17.75
4            Americas Best Value Inn Avenel Woodbridge             17.36
..                                                 ...               ...
795                                   HI New York City                 0
796  FEMALES ONLY <br>Quite safe neighborhood near ...              15.2
797     Extended Stay America Suites Newark Woodbridge             19.55
798                                     Quiet getaway.             13.05
799                        Cozy Shack-1 Bedroom Studio              6.47

[800 rows x 2 columns]

In [21]:
distance2.to_csv("HotelData/distance_clean.csv", index=False, header=True)